// Base Styles
body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	line-height: 1.5;
	color: #444;
}
a {
	@include single-transition(all, 0.1s, ease-in);
	color: inherit;
	text-decoration: none;
	&:active, &:hover {
		text-decoration: none;
		color: inherit;
	}
}


// Layout Styles
html, body {
	height: 100%;
}
#wrapper {
	margin: 0 auto;
}
.container-fluid {
	max-width: 1170px;
}

// Padded Section
.padded__section {
	text-align: center;
	padding: em(140px) 0;
	.padded__section {
		padding-bottom: 0;
	}
	&.intro {
		padding: em(80px) 0 em(120px);
		.section__title {
			font-weight: 600;
			letter-spacing: -0.5px;
			display: inline-block;
			margin-bottom: 0.5em;
		}
		.section__subtitle {
			margin: 0;
			max-width: 100%;
			font-size: em(20px);
		}
		.btn-lg {
			margin-top: em(20px);
		}
	}
	&.dark {
		background-color: $black;
		color: #fff;
	}
	&.bordered {
		border-top: 1px solid #ddd;
	}
	&.copy {
		text-align: left;
		.section__title {
			font-size: em(35px);
			font-weight: 600;
		}
		.section__subtitle {
			font-size: em(18px);
			font-weight: 300;
			max-width: 100%;
		}
	}
	.copy__content {
		margin-top: em(50px);
		line-height: 1.7;
		.copy__title {
			font-size: em(30px);
			padding-bottom: 0.5em;
			margin: em(40px) 0 em(20px);
			border-bottom: 1px solid #ddd;
		}
		h4 {
			font-weight: 600;
			margin-top: em(30px);
		}
		p {
			margin-bottom: em(15px);
			font-size: em(16px);
			line-height: 1.7;
		}
		a {
			color: $pink;
			&:active, &:hover {
				color: $red;
			}
		}
	}
	.section__title {
		margin-top: 0;
		font-weight: 300;
		font-size: em(32px);
	}
	.section__subtitle {
		font-size: em(16px);
		color: $gray-light;
		max-width: 500px;
		margin: 0 auto;
	}
	.section__paragraph {
		font-size: em(16px);
		color: $gray-light;
		margin: em(20px) 0 em(25px);
		line-height: 1.7;
	}
}

img {
	max-width: 100%;
	height: auto;
}