// Image Section
.images__section {
	background: #f1f1f1;
	.image__row {
		display: table;
		table-layout: fixed;
		line-height: 1.7;
		font-weight: 300;
		width: 100%;
		> div {
			display: table-cell;
			width: 50%;
			vertical-align: middle;
		}
		.text__portion {
			padding: 0 15% 0 10%;
		}
		.image__portion {
			height: 750px;
			@include background-size(cover);
			&.image1 {
				background: url("../img/careers/career1.jpg") no-repeat center;
			}
			&.image2 {
				background: url("../img/careers/career2.jpg") no-repeat center;
			}
		}
		.section__title {
			margin-top: 0;
			font-size: em(32px);
			font-weight: 300;
		}
		.section__subtitle {
			font-weight: 300;
			margin-bottom: em(30px);
			font-size: em(16px);
			color: $gray-light;
			&.bold {
				font-weight: 600;
				color: #444;
			}
		}
		p {
			margin: em(20px) 0;
			font-size: em(15px);
		}
		ul {
			line-height: 2em;
			padding-left: 20px;
		}
	}
}

// Jobs Section
.jobs__section {
	padding-top: em(40px);
	.field__title {
		font-size: em(20px);
		padding-bottom: em(8px);
		border-bottom: 1px solid #ddd;
		font-weight: 300;
	}
	.job__field {
		margin-top: em(40px);
	}
	.jobs__list {
		padding: 0;
		list-style: none;
		li {
			line-height: 1.7;
			margin-top: em(35px);
		}
		.job__position {
			color: $red;
			font-size: em(16px);
		}
		.job__unavailable {
			font-size: em(16px);
			color: $gray-light;
		}
		.job__location {
			display: block;
		}
	}
}