.footer__section {
	text-align: left;

	.foooter__company {
		margin-top: 3em;
		p {
			color: $gray-dark;
			line-height: 1.7;
			margin-top: 10px;
		}
	}

	.footer__links {
		float: right;
		width: auto;
		> ul {
			float: left;
			list-style: none;
			font-size: em(15px);
			padding: 0 em(90px) 0 em(40px);
			border-right: 1px solid #4d4d4d;
			&:first-child {
				padding-left: 0;
			}
			li {
				font-weight: 300;
				line-height: em(40px);
				&.active {
					color: #e37f9a;
				}
				a {
					&:active, &:hover {
						color: #e37f9a;
					}
				}
			}
			.footer__heading {
				color: $gray-light;
				font-size: em(18px);
			}
		}
		.social__links {
			border: none;
			padding-right: 0;
			.footer__heading {
				float: none;
				margin-bottom: em(5px);
			}
			li {
				float: left;
				margin-right: em(15px);
				&:last-child {
					margin-right: 0;
				}
				a {
					text-align: center;
					line-height: em(47px);
					width: em(45px);
					height: em(45px);
					@include border-radius(3px);
					display: block;
					background-color: darken($black, 10%);
					color: $gray-dark;
					&:active, &:hover {
						color: #fff;
					}
					.fa {
						font-size: em(18px);
					}
				}
			}
		}
	}

}