header.main-header {
	background: $black;
	color: $gray-dark;
	line-height: 53px;
	padding: em(30px) 0;
	.nav {
		li {
			&.active {
				a {
					color: #fff;
				}
			}
			a {
				display: inline-block;
				margin-left: em(30px);
				color: inherit;
				&:first-child {
					margin-left: 0;
				}
				&:hover, &:focus {
					background: none;
					color: #fff;
				}

			}
		}
	}
	.header__logo {
		display: block;
		float: left;
	}
	.navbar-toggle {
		vertical-align: middle;
		margin: 14px 0 0 0;
		padding: 0;
		@include border-radius(0);
		.icon-bar {
			background: $gray-dark;
		}
	}
}