// Intro Section
.intro.home__section {
	padding-top: em(150px);
	background: $black url("../img/intro.png") no-repeat center bottom;
	@include clearfix;
	height: 780px;
	.section__title {
		padding-bottom: 0.5em;
		border-bottom: 1px solid #444444;
	}
	.section__subtitle {
		font-size: em(16px);
	}
}

// Why Choose Us List
.columns__section {
	margin: 0 auto;
	padding: em(100px) 0 em(20px);
	.row {
		&:first-child {
			.columns__item {
				border-top: none;
			}
		}
		.columns__item {
			&:last-child {
				border-right: none;
			}
		}
	}
	.columns__item {
		padding: em(40px);
		height: em(300px);
		border-right: 1px solid #eeeeee;
		border-top: 1px solid #eeeeee;
		.fa {
			font-size: em(40px);
			color: $pink;
		}
		h4 {
			margin-top: em(15px);
			font-weight: 600;
			font-size: em(20px);
		}
		p {
			color: $gray-light;
			font-size: em(15px);
		}
	}
}


// Testimonials List
.testimonials__section {
	padding: em(100px) 0 em(20px);
	display: table;
	table-layout: fixed;
	text-align: center;
	width: 100%;
	> div {
		display: table-cell;
		vertical-align: top;
	}
	.icon {
		font-size: em(50px);
		color: #777;
		padding-top: em(5px);
		width: 10%;
	}
	.testimonial__box {
		position: relative;
		background: darken($black, 10%);
		padding: em(30px) em(50px) em(25px);
		@include border-radius(3px);
		p {
			color: $gray-light;
			line-height: 1.9;
			font-size: em(16px);
			font-weight: 300;
		}
	}
	.testimonial__info {
		color: #fff;
		font-weight: 300;
		margin-top: em(40px);
		font-size: em(16px);
		.testimonial__product {
			color: $gray-light;
		}
	}
	.testimonial__box:after {
		top: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(35, 36, 39, 0);
		border-top-color: darken($black, 10%);
		border-width: 15px;
		margin-left: -15px;
	}
}


// Subscribe Section
.subscribe__section {
	text-align: left;
	.section__subtitle {
		font-weight: 300;
		max-width: 100%;
	}
	.subscribe__icon {
		color: #dddddd;
		font-size: 5.6em;
		text-align: right;
		@include clearfix;
		.fa {
			margin-top: -0.13em;
		}
	}
	.subscribe__form {
		margin: em(80px) 0 0;
		.cell {
			display: table-cell;
			vertical-align: top;
		}
		.subscribe__textfield {
			width: 90%;
		}
		.subscribe__button {
			padding-left: em(15px);
			.btn-lg {
				padding-right: 2.5em;
				padding-left: 2.5em;
			}
		}
		.form-control {
			font-size: em(15px);
			height: em(54px);
			padding: 0 em(20px);
			font-weight: 300;
			border: 1px solid #ddd;
			@include border-radius(3px);
			@include box-shadow(none);
			-webkit-appearance: none;
			-moz-appearance: none;
		}
	}
}