// Products Section
.product-intro__section {
	padding: em(80px) 0 0;
	padding-bottom: 0 !important;
	text-align: left;

	.section__title {
		font-size: em(35px);
		font-weight: 600;
	}
	.section__subtitle {
		font-size: em(18px);
		font-weight: 300;
		max-width: 100%;
		margin-bottom: em(25px);
	}
	.btn-demo {
		background: darken($black, 10%);
		border-color: darken($black, 10%);
		float: right;
		padding: 1.4em 3.5em;
		margin-top: em(5px);
	}
	p {
		color: #cccccc;
		font-size: em(16px);
		line-height: 1.7;
		margin-bottom: em(15px);
	}
}

// Table Section
.table__section {
	color: $gray-light;
	margin-top: em(100px);
	.row {
		font-size: em(15px);
		line-height: em(50px);
		ul {
			padding-left: em(20px);
			text-align: left;
			line-height: 2;

			li {
				margin-bottom: em(20px);
				strong {
					color: #444;
				}
			}
		}
		.col-sm-4 {
			padding: 0;
		}
		.table__item {
			&:nth-child(odd) {
				background: #f7f7f7;
			}
		}
		.fa {
			color: #9dc35a;
			margin-right: 9px;
		}
	}
}

// Product Images Section
.product-image__section {
	@include clearfix;
	.col-xs-4 {
		padding: 0;
		img {
			width: 100%;
		}
	}
}