// Products Section
.products__section {
	.products__list {
		padding-top: em(30px);
		.product__item {
			display: none;
		}
	}
}

// Products Sorting
.products__sorting {
	list-style: none;
	font-size: em(16px);
	margin-top: em(80px);
	padding: 0;
	font-weight: 300;
	color: $gray-light;
	.sort__label {
		border-right: 1px solid #ddd;
		margin-right: em(10px);
		padding-right: em(20px);
		color: #444;
		cursor: default;
	}
	li {
		cursor: pointer;
		padding: 0 em(10px);
		margin: em(10px) 0;
		display: inline-block;
		&.active {
			color: $pink;
		}
	}
}

// Products List
.products__list {
	text-align: center;
	padding: em(100px) 0 em(20px);
	.product__item {
		margin-bottom: em(80px);
	}
	h3 {
		font-weight: 600;
		font-size: em(20px);
		margin: em(22px) 0 em(4px);
	}
	h5 {
		font-weight: 300;
		font-size: em(16px);
		color: $gray-light;
		margin: 0;
	}
	figure {
		padding: em(60px) em(80px);
		max-width: 100%;
		display: inline-block;
		background: #f7f7f7;
		img {
			@include border-radius(3px);
		}
	}
}