@media (max-width: 992px){

	// Base Styles
	body {
		font-size: 12px;
	}
	.padded__section {
		padding: em(120px) 0;
	}

	// Intro Section
	.intro.home__section {
		@include background-size(800px auto);
		height: 530px;
		font-size: 11px;
	}

	// Subscribe Section
	.subscribe__section {
		text-align: center;
		.subscribe__form {
			max-width: 90%;
			margin: em(80px) auto 0;
			.form-control {
				height: em(56px);
			}
		}
		.subscribe__icon {
			display: none;
		}
	}

	// Footer Section
	.footer__section {
		text-align: center;
		.foooter__company {
			margin: 0;
		}
		.footer__links {
			float: none;
			width: 100%;
			> ul {
				margin-top: em(40px);
				display: inline-block;
				float: none;
				padding: 0 em(60px);
				vertical-align: top;
			}
		}
	}
}
@media (max-width: 768px){

	// Base Styles
	body {
		font-size: 11px;
	}
	.padded__section {
		padding: em(100px) 0;
		&.intro {
			padding-top: em(70px);
		}
	}

	// Header Styles
	header.main-header {
		.navbar-collapse {
			background: darken($black, 10%);
			box-shadow: none;
			top: em(30px);
			position: relative;
			a {
				width: 100%;
				font-size: em(16px);
			}
		}
		.header__logo {
			width: auto;
			height: 45px;
		}
		.navbar-header {
			margin-right: 0;
			margin-left: 0;
		}
	}

	// Intro Home Section
	.intro.home__section {
		background-image: none;
		height: auto;
		.section__title {
			font-size: em(30px);
		}
		.section__subtitle br {
			display: none;
		}
	}

	// Homepage Slider
	#homepage-slider {
		h1 {
			font-size: em(50px);
		}
		.fa {
			font-size: em(30px);
		}
		h3 {
			margin-top: em(10px);
		}
		.slider__image img {
			max-width: 80%;
			margin: 0 auto;
		}
	}

	// Products Section
	.product-intro__section {
		.section__title {
			font-size: em(30px);
		}
	}
	.products__section {
		text-align: center;
	}
	.products__list {
		.product__item {
		}
		figure img {
			width: 85px;
		}
	}

	// Columns Section
	.columns__section {
		max-width: 90%;
		.columns__item {
			border: none;
			height: auto;
			padding-top: em(20px);
		}
	}

	// Testimonials Section
	.testimonials__section {
		.icon {
			display: none;
		}
	}

	// Subscribe Section
	.subscribe__section {
		.subscribe__form {
			.cell {
				display: block;
			}
			.subscribe__textfield {
				width: 100%;
			}
			.subscribe__button {
				padding: 0;
				.btn-lg {
					width: 100%;
				}
			}
		}
	}

	// Inner Products Page
	.product-intro__section {
		text-align: center;
		.btn-demo {
			padding: em(15px) em(50px);
			margin-top: em(20px);
			float: none;
		}
		p {
			margin-top: em(20px);
		}
	}

	// Product Intro Slider
	.product-intro__slider {
		margin-top: 4em;
	}

	// Image Section
	.images__section {
		padding: em(80px) 25px;
		.image__row {
			padding: em(20px) 0;
			text-align: center;
			font-weight: 400;
			> div {
				width: 100%;
				display: block;
				&.image__portion {
					display: none;
				}
				&.text__portion {
					padding: 0;
				}
				ul {
					list-style: none;
					padding: 0;
				}
			}
		}
	}

	// Jobs Section
	.jobs__section {
		.job__field {
			padding: 0 em(40px);
		}
	}

	// Footer Section
	.footer__section {
		.footer__links {
			> ul {
				display: block;
				border: none;
				padding: 0;
				li {
					display: inline-block;
					margin: 0 em(10px);
				}
				.footer__heading {
					display: block;
				}
			}
			.social__links {
				float: none;
				display: block;
				padding: 0;
				li {
					margin: 0 em(10px);
					float: none;
				}
			}
		}
	}
}