// Homepage Second Section Slider

#homepage-slider {
	@include clearfix;
	h1 {
		font-family: 'Grand Hotel', cursive;
		font-size: em(70px);
		margin: 0;
		line-height: 1em;
	}
	h3 {
		font-size: em(20px);
	}
	p {
		font-size: em(14px);
		color: $gray-light;
	}
	.fa {
		font-size: em(65px);
		color: #cccccc;
	}
	.slider__text {
		margin-top: em(50px);
	}
	.slider__slide {
		width: 1170px;
		max-width: 80%;
		margin: 0 auto;
	}
	.owl-controls {
		position: absolute;
		width: 100%;
		top: 50%;
		margin-top: -15px;
		.owl-nav {
			div {
				background: none;
				font-size: em(7.5px);
				color: #ddd;
				.fa {
					color: inherit;
				}
				&:hover, &:active {
					color: #ccc;
				}
			}
			.owl-prev {
				margin-left: em(20px);
				float: left;
			}
			.owl-next {
				margin-right: em(20px);
				float: right;
			}
		}
	}
}


// Testimonials Slider
#testimonial-slider {
	.slider__slide {
		max-width: 80%;
		margin: 0 auto;
	}
	.owl-nav {
		display: none;
	}
	.owl-dots {
		margin-top: em(50px);
		.owl-dot {
			&.active {
				span {
					background-color: $gray-light;
				}
			}
			span {
				width: 13px;
				height: 13px;
				background: darken($black, 10%);
			}
		}
	}
}

// Product Intro Slider
.product-intro__slider {
	margin-top: em(90px);
	position: relative;
	height: 0;
	padding-bottom: 50%;
	@include clearfix;
	.slider__slide {
		cursor: pointer;
		max-width: 82%;
		margin: 0 auto;
		text-align: center;
		position: absolute;
		top: 51px;
		@include opacity(0.5);
		@include transition(all, 0.3s);
		&.first {
			top: 0;
			z-index: 5;
			left: 0;
			@include opacity(1);
			cursor: default;
		}
		&.next {
			left: 0;
			&:hover {
				@include opacity(0.8)
			}
		}
		&.last {
			left: 0;
			&:hover {
				@include opacity(0.8)
			}
		}
	}
}