@function em($pixels, $context: 14px) {
	@return #{$pixels/$context}em
}

// Theme Primary Colors
$black: #36393e;
$red: #ca204c;
$pink: #e37f9a;
$gray-dark: #bbb;
$gray-light: #999;

// Layout Variables
$footer-height: 55px;